 <!-- cart mini area start -->
<div class="cartmini__area">
    <div class="cartmini__wrapper">
        <div class="cartmini__title">
            <h4>Shopping cart</h4>
        </div>
        <div class="cartmini__close">
            <button type="button" class="cartmini__close-btn"><i class="fal fa-times"></i></button>
        </div>
        <div class="cartmini__widget">
            <div class="cartmini__inner">
                <ul>
                    <li>
                        <div class="cartmini__thumb">
                            <a href="product-details.html">
                                <img src="~/assets/frontend/img/product/sm/cart-5.jpg" alt="">
                            </a>
                        </div>
                        <div class="cartmini__content">
                            <h5><a href="product-details.html">Findup - Directory & Listing</a></h5>
                            <div class="product-quantity mt-10 mb-10">
                                <span class="cart-minus">-</span>
                                <input class="cart-input" type="text" value="1" />
                                <span class="cart-plus">+</span>
                            </div>
                            <div class="product__sm-price-wrapper">
                                <span>2 <i class="fal fa-times"></i></span>
                                <span class="product__sm-price">$24.00</span>
                            </div>
                        </div>
                        <a href="#" class="cartmini__del"><i class="fal fa-times"></i></a>
                    </li>
                    <li>
                        <div class="cartmini__thumb">
                            <a href="product-details.html">
                                <img src="~/assets/frontend/img/product/sm/cart-2.jpg" alt="">
                            </a>
                        </div>
                        <div class="cartmini__content">
                            <h5><a href="product-details.html">TechBuzz - Businesses Agency</a></h5>
                            <div class="product-quantity mt-10 mb-10">
                                <span class="cart-minus">-</span>
                                <input class="cart-input" type="text" value="1" />
                                <span class="cart-plus">+</span>
                            </div>
                            <div class="product__sm-price-wrapper">
                                <span>1 <i class="fal fa-times"></i></span>
                                <span class="product__sm-price">$17.00</span>
                            </div>
                        </div>
                        <a href="#" class="cartmini__del"><i class="fal fa-times"></i></a>
                    </li>
                    <li>
                        <div class="cartmini__thumb">
                            <a href="product-details.html">
                                <img src="~/assets/frontend/img/product/sm/cart-3.jpg" alt="">
                            </a>
                        </div>
                        <div class="cartmini__content">
                            <h5><a href="product-details.html">Zibber - Agency Template</a></h5>
                            <div class="product-quantity mt-10 mb-10">
                                <span class="cart-minus">-</span>
                                <input class="cart-input" type="text" value="1" />
                                <span class="cart-plus">+</span>
                            </div>
                            <div class="product__sm-price-wrapper">
                                <span>5 <i class="fal fa-times"></i></span>
                                <span class="product__sm-price">$72.00</span>
                            </div>
                        </div>
                        <a href="#" class="cartmini__del"><i class="fal fa-times"></i></a>
                    </li>
                </ul>
            </div>
            <div class="cartmini__checkout">
                <div class="cartmini__checkout-title mb-30">
                    <h4>Subtotal:</h4>
                    <span>$113.00</span>
                </div>
                <div class="cartmini__checkout-btn">
                    <a href="#" class="m-btn m-btn-border mb-10 w-100"> <span></span> view cart</a>
                    <a href="#" class="m-btn m-btn-3 w-100"> <span></span> checkout</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="body-overlay"></div>
<!-- cart mini area end -->