@{
	// string currentPath = ;
}
<!-- header area start -->
<header>
    <div class="header__area header__shadow white-bg" id="header-sticky">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-xxl-2 col-xl-2 col-lg-2 col-md-4 col-6">
                    <div class="logo">
                        <a asp-controller="Home" asp-action="Index">
                            <img src="~/assets/images/logo/logo.png" alt="logo">
                        </a>
                    </div>
                </div>
                <div class="col-xxl-8 col-xl-8 col-lg-8 d-none d-lg-block">
                    <div class="main-menu">
                        <nav id="mobile-menu">
                            <ul>
	                            <li>
		                            <a asp-area="Customer" asp-controller="Home" asp-action="Index">Home</a>
	                            </li>
                                <li class="active"><a asp-area="Customer" asp-controller="Shop" asp-action="Index">Shop</a></li>
                                <li><a asp-area="Customer" asp-controller="About" asp-action="Index">About</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="col-xxl-2 col-xl-2 col-lg-2 col-md-8 col-6">
                    <div class="header__action d-flex align-items-center justify-content-end">
                        @if (User.Identity.IsAuthenticated)
                        {
                            <div class="header__login d-none d-sm-block">
                                <div class="header__login header__login-2 d-none d-sm-block">
                                    <div class="main-profile">
                                        <ul>
                                            <li class="has-dropdown">
                                                <a href="#"><i class="far fa-user"></i>@User.Identity.Name</a>
                                                <ul class="submenu">
                                                    @if (User.IsInRole("Admin"))
                                                    {
                                                        <li><a href="@Url.Action("Index", "Dashboard", new { Area = "Admin" })"><i class="far fa-home"></i>Dashborad</a></li>
                                                    }
                                                    <li><a href="@Url.Action("Index", "Profile")"><i class="far fa-user"></i>My Profile</a></li>
                                                    <li><a href="@Url.Action("Index", "Settings")"><i class="far fa-cog"></i>Settings</a></li>
                                                    <li>
                                                        @* <a href="blog-details.html">
                                                            <i class="far fa-sign-out"></i>Logout
                                                        </a> *@

                                                        <form id="logoutForm" asp-area="Admin" asp-controller="Authentication" asp-action="Logout" method="post" style="display:none;">
                                                            <button type="submit" class="btn btn-link"></button>
                                                        </form>
                                                        <a href="javascript:void(0)" onclick="document.getElementById('logoutForm').submit();">
                                                            <i class="fa fa-sign-out"></i><span>Log out</span>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="header__cart d-none d-sm-block">
                                <a href="javascript:void(0);" class="cart-toggle-btn">
                                    <i class="far fa-shopping-cart"></i>
                                    <span>3</span>
                                </a>
                            </div>
                        }else{
                            <a asp-area="Admin" asp-controller="Authentication" asp-action="Login"><i class="far fa-unlock"></i> Log In</a>
                        }
                        <div class="sidebar__menu d-lg-none">
                            <div class="sidebar-toggle-btn" id="sidebar-toggle">
                                <span class="line"></span>
                                <span class="line"></span>
                                <span class="line"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- header area end -->