<!-- sidebar area start -->
<div class="sidebar__area">
	<div class="sidebar__wrapper">
		<div class="sidebar__close">
			<button class="sidebar__close-btn" id="sidebar__close-btn">
				<span><i class="fal fa-times"></i></span>
				<span>close</span>
			</button>
		</div>
		<div class="sidebar__content">
			<div class="logo mb-40">
				<a asp-area="Customer" asp-controller="Home" asp-action="Index">
					<img src="~/assets/images/logo/logo_dark.png" alt="logo">
				</a>
			</div>
			<div class="mobile-menu"></div>
			<div class="sidebar__action mt-330">
				<div class="sidebar__login mt-15">
					<a href="#"><i class="far fa-unlock"></i> Log In</a>
				</div>
				<div class="sidebar__cart mt-20">
					<a href="javascript:void(0);" class="cart-toggle-btn">
						<i class="far fa-shopping-cart"></i>
						<span>2</span>
					</a>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- sidebar area end -->
<div class="body-overlay"></div>
<!-- sidebar area end -->