<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="CodeHub: Premier digital marketplace offering diverse scripts, plugins, themes, and assets for developers.">
<link rel="icon" href="~/assets/images/favicon.png" type="image/x-icon">
<link rel="shortcut icon" href="~/assets/images/favicon.png" type="image/x-icon">
<title>CodeHub - Premium Code & Plugins</title>
<link rel="stylesheet" href="~/assets/frontend/css/preloader.css">
<link rel="stylesheet" href="~/assets/frontend/css/bootstrap.min.css">
<link rel="stylesheet" href="~/assets/frontend/css/slick.css">
<link rel="stylesheet" href="~/assets/frontend/css/meanmenu.css">
<link rel="stylesheet" href="~/assets/frontend/css/owl.carousel.min.css">
<link rel="stylesheet" href="~/assets/frontend/css/animate.min.css">
<link rel="stylesheet" href="~/assets/frontend/css/backToTop.css">
<link rel="stylesheet" href="~/assets/frontend/css/jquery.fancybox.min.css">
<link rel="stylesheet" href="~/assets/frontend/css/fontAwesome5Pro.css">
<link rel="stylesheet" href="~/assets/frontend/css/elegantFont.css">
<link rel="stylesheet" href="~/assets/frontend/css/imagetooltip.min.css">
<link rel="stylesheet" href="~/assets/frontend/css/default.css">
<link rel="stylesheet" href="~/assets/frontend/css/style.css">