@model HomeViewModel
<section class="product__area pt-105 pb-110 grey-bg-2">
    <div class="container">
        <div class="row">
            <div class="col-xxl-12">
                <div class="section__title-wrapper text-center mb-60">
                    <h2 class="section__title">Featured Themes of The Month</h2>
                    <p>From multipurpose themes to niche templates</p>
                </div>
            </div>
        </div>
        <div class="row">
			@foreach (var product in Model.Products.Take(6))
            {
	            <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6">
		            <div class="product__item white-bg mb-30 wow fadeInUp" data-wow-delay=".3s">
			            <div class="product__thumb">
				            <div class="product__thumb-inner fix w-img">
					            <a href="product-details.html">
						            <img src="~/uploads/@product.ImageUrl" alt="">
					            </a>
				            </div>
				            <div class="product__thumb-btn transition-3">
					           @*  <a href="#" class="m-btn m-btn-6 mb-15">
						            Add to Cart
					            </a> *@
					            <a href="@product.SourceCodeUrl" class="m-btn m-btn-7">
						            Details
					            </a>
				            </div>
			            </div>
			            <div class="product__content">
				            <h3 class="product__title product__title2">
					            <a href="@product.SourceCodeUrl">@product.Name</a>
				            </h3>
				            <p class="product__author">by <a href="#">CodeHub</a>
				            <div class="product__ratings">
					            <i class="fas fa-star"></i>
					            <i class="fas fa-star"></i>
					            <i class="fas fa-star"></i>
					            <i class="fas fa-star"></i>
					            <i class="fas fa-star"></i>
				            </div>
				            <div class="product__meta d-flex justify-content-between align-items-end mt-15">
					            <div class="product__price">
						            <span>$@product.Price.ToString("0.00")</span>
						            <p>@product.Downloads Sale</p>
					            </div>
					            <div class="product__action-btn">
						            <a class="link_prview" target="_blank"
						               href="#">Preview</a>
						            <a class="link_heart" href="#"><i class="fal fa-heart"></i></a>
					            </div>
				            </div>
			            </div>
		            </div>
	            </div>
            }
        </div>
        <div class="row">
            <div class="col-xxl-12">
                <div class="product__more text-center mt-30">
                    <a asp-controller="Shop" asp-action="Index" class="m-btn m-btn-2"> <span></span> Explore Premium</a>
                </div>
            </div>
        </div>
    </div>
</section>