<section class="services__area pt-100 pb-110">
    <div class="container">
        <div class="row">
            <div class="col-xxl-12">
                <div class="section__title-wrapper mb-50 text-center">
                    <h2 class="section__title">The only one <br>Template you need</h2>
                    <p>From multipurpose themes to niche templates</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6">
                <div class="services__item white-bg mb-30 wow fadeinup" data-wow-delay=".3s">
                    <div class="services__icon mb-45">
                        <span class="blue-bg-4"><img src="~/assets/frontend/img/icon/services/services-1.svg" alt=""></span>
                    </div>
                    <div class="services__content">
                        <h3 class="services__title"><a href="#">No Risk, <br> Double Guarantee</a></h3>
                        <p>Haggle down the pub off his nut arse bog bits and bobs bugger.</p>
                        <a href="#" class="link-btn"><i class="arrow_right"></i>Learn More</a>
                    </div>
                </div>
            </div>
            <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6">
                <div class="services__item white-bg mb-30 wow fadeinup" data-wow-delay=".5s">
                    <div class="services__icon mb-45">
                        <span class="pink-bg"><img src="~/assets/frontend/img/icon/services/services-2.svg" alt=""></span>
                    </div>
                    <div class="services__content">
                        <h3 class="services__title"><a href="about.html">Flexible <br> Prices no Surprises</a></h3>
                        <p>Haggle down the pub off his nut arse bog bits and bobs bugger.</p>
                        <a href="about.html" class="link-btn"><i class="far fa-long-arrow-right"></i>Learn More</a>
                    </div>
                </div>
            </div>
            <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6">
                <div class="services__item white-bg mb-30 wow fadeinup" data-wow-delay=".7s">
                    <div class="services__icon mb-45">
                        <span class="green-bg"><img src="~/assets/frontend/img/icon/services/services-3.svg" alt=""></span>
                    </div>
                    <div class="services__content">
                        <h3 class="services__title"><a href="about.html">Graphic <br> Design Services</a></h3>
                        <p>Haggle down the pub off his nut arse bog bits and bobs bugger.</p>
                        <a href="about.html" class="link-btn"><i class="far fa-long-arrow-right"></i>Learn More</a>
                    </div>
                </div>
            </div>
            <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6">
                <div class="services__item white-bg mb-30 wow fadeinup" data-wow-delay=".9s">
                    <div class="services__icon mb-45">
                        <span class="orange-bg"><img src="~/assets/frontend/img/icon/services/services-4.svg" alt=""></span>
                    </div>
                    <div class="services__content">
                        <h3 class="services__title"><a href="about.html">Updates <br> Constant Development</a></h3>
                        <p>Haggle down the pub off his nut arse bog bits and bobs bugger.</p>
                        <a href="about.html" class="link-btn"><i class="far fa-long-arrow-right"></i>Learn More</a>
                    </div>
                </div>
            </div>
            <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6">
                <div class="services__item white-bg mb-30 wow fadeinup" data-wow-delay="1.2s">
                    <div class="services__icon mb-45">
                        <span class="blue-bg"><img src="~/assets/frontend/img/icon/services/services-5.svg" alt=""></span>
                    </div>
                    <div class="services__content">
                        <h3 class="services__title"><a href="about.html">Friendly <br>Customer Support</a></h3>
                        <p>Haggle down the pub off his nut arse bog bits and bobs bugger.</p>
                        <a href="about.html" class="link-btn"><i class="far fa-long-arrow-right"></i>Learn More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>